// ==========================================================

// 320 and Up
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Generic WEC Normalizations ================================= */

// Smoother color transition for links
a {
    transition: all 0.3s ease;
}

// Clear after container
.content:after,
.group:after{
	content: "";
	display: table;
	clear: both;
}

// Caption/gallery styling
.wp-caption{
    background: #fff;
    border: 1px solid #cccccc;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    clear: both;
}

.wp-caption-text,
.gallery-caption{
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0 4px 5px;
}

// Editor Styles
#tinymce {
    overflow: visible !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 9px 10px;
}

//========================
// WP Base
//========================
.alignleft,
.alignright,
.aligncenter {
	margin:0 auto 20px auto;
}

/* Elements =================================================== */

img {
	*width: inherit;
	max-width: 100%;
	height: auto;
	border: 0;
}
